<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Welcome to my Rails web app, I made this for learning purposes only. This is no intented to be a real wiki webpage, please do not take seriously the wikis on this page.</p>
        </div>

        <div class="p-4">
            <h4 class="fst-italic">User Section</h4>
            <ol class="list-unstyled mb-0">
            <li><a href="#" class="link-info">Register</a></li>
            <li><a href="#" class="link-info">Login</a></li>
            <li><a href="#" class="link-info">Logout</a></li>
            <li><a href="#" class="link-info">View your wikis</a></li>
            <li><%= link_to "Create wiki", new_wiki_path, class: "link-dark" %></li>
            </ol>
        </div>

        <% if @wiki.present? %>
            <div class="p-4">
                <h4 class="fst-italic">Wiki Section</h4>
                <ol class="list-unstyled mb-0">
                <li><%= link_to "Edit this wiki", edit_wiki_path(@wiki), class: "link-dark" %></li>
                <li><a href="#" class="link-dark">Add translation</a></li>
                <%# Link trigger delete wiki modal %>
                <li><a class="link-danger" data-bs-toggle="modal" data-bs-target="#deleteWikiModal">Delete this wiki</a></li>
                </ol>
            </div>
        <% end %>

        <div class="p-4">
            <h4 class="fst-italic">Follow me</h4>
            <ol class="list-unstyled">
            <li><a href="https://github.com/kuro-vale/kuro-wiki" target="_blank">GitHub</a></li>
            <li><a href="https://twitter.com/kuro_vale" target="_blank">Twitter</a></li>
            </ol>
        </div>
    </div>
</div>

<%= render "modals" %>
