<%# Delete Wiki Modal %>

<div class="modal fade" id="deleteWikiModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><%= t('helpers.modals.confirmation') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= t('wiki.delete_confirmation') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('helpers.modals.close') %></button>
        <%= button_to t("helpers.submit.destroy"), @wiki, method: :delete, class: "btn btn-danger", data: {turbo: false} %>
      </div>
    </div>
  </div>
</div>