<main class="container">

  <%= render "featured" %>

  <div class="row g-5">
    <div class="col-md-8" id="wikis">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Wikis
      </h3>
      <% @wikis.each do |wiki| %>
        <%= render wiki %>
      <% end %>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
      </nav>

    </div>

    <%= render "aside" %>

  </div>

</main>
