<main class="container">
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        <%= @wiki.title %>
      </h3>

      <strong class="mb-2 text-info">Category</strong>
      <p class="blog-post-meta"><%= @wiki.created_at.strftime('%B %d, %Y') %> by <a href="#">User</a></p>

      <p><%= simple_format(@wiki.body) %></p>
    </div>

    <%= render "aside" %>

  </div>
</main>
