<% if current_page.first? %>
  <a class="btn btn-outline-secondary rounded-pill disabled"><%= t('views.pagination.previous') %></a>
<% else %>
  <%= link_to_unless current_page.first?, t('views.pagination.previous').html_safe, url, rel: 'prev', remote: remote, class: "btn btn-outline-primary rounded-pill" %>
<% end %>
